<!DOCTYPE html>
<!-- This is the entry point for creating a new user -->
<html>
<head>
    <meta charset="utf-8">
    <title>Add User</title>
</head>
<body>
    <div class="form">
        <fieldset>
          <legend>&nbsp;ADD USER&nbsp;</legend>
            <form name="register" action="pageScripts/register.php" method="post">
                <input name="name" type="text" placeholder="username"><br />
                <input name="email" type="text" placeholder="email address"><br />
                <input name="passwordIn" type="password" placeholder="password"><br />
                <input name="submit" type="submit" />
            </form>
        </fieldset>
    </div>
    <div id="response"></div>
</body>
</html>
