.leftalign {
    float: left;
    font-family: Arial;

}

.rightalign {
    float: right;
    font-family: Arial;
}

.blueback {
    background-color: #3CB371;
    background-size: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.outline {
    border: 1px solid black;
}

body {
    min-height: 640px;
    background-image: url("../../img/legos.jpg");
    background-repeat: no-repeat;
    background-position: bottom right;
}
#results{
    background-color: #48D1CC;
    font-family: Arial;
    float:left;
}

#results tr:nth-child(even){background-color: #ffffff;}

fieldset{
    border:None;
    float:left;
    font-family: Arial;
}
legend{
    display: None;
}
h2{
    margin:1em 0;
}


