.leftalign {
    float: left;
}

.rightalign {
    float: right;
}

.blueback {
    background-color: lightblue;
    background-size: auto;
}

.outline {
    border: 1px solid black;
}

table, tr, td {
    border: 1px solid black;
    background-color: lightblue;
}